<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendador de Películas</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="container">
        <h1>Recomendador de Películas</h1>
        <form method="POST">
            <label for="pelicula">Ingrese el título de la película:</label>
            <input type="text" id="pelicula" name="pelicula" required>
            <button type="submit">Obtener Recomendaciones</button>
        </form>

 
        <h2>Películas recomendadas:</h2>
        <ul>
       
    </div>
</body>
</html>
